<section data-ng-controller="GooglesearchesController" data-ng-init="find()">
    <div class="page-header">
        <h1>Googlesearches</h1>
    </div>
    <div class="list-group">
        <a data-ng-repeat="googlesearch in googlesearches" data-ng-href="#!/googlesearches/{{googlesearch._id}}" class="list-group-item">
			<small class="list-group-item-text">
				Posted on
				<span data-ng-bind="googlesearch.created | date:'medium'"></span>
				by
				<span data-ng-bind="googlesearch.user.displayName"></span>
			</small>
			<h4 class="list-group-item-heading" data-ng-bind="googlesearch.name"></h4>
        </a>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!googlesearches.$resolved || googlesearches.length">
    	No Googlesearches yet, why don't you <a href="/#!/googlesearches/create">create one</a>?
    </div>
</section>